<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/../img/favicon-32x32.png"
            type="image/x-icon">

        <title>Anytime Fitness</title>
        <script type="module"
            src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule=""
            src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <link rel="stylesheet" href="/../css/style.css" />


    </head>
    <body>
        <% let successArray=[]%>
            <% if(alerts.success) { %>
                <% alerts.success.forEach(function(msg){ %>
                    <% successArray.push(msg)%>


                        <% }) %> <% } %>

                                <% let errorArray=[]%>
                                    <% if(alerts.error) { %> <%
                                            alerts.error.forEach(function(msg){
                                            %>
                                            <%
                                                errorArray.push(msg)%>
                                                <% }) %> <% } %>
                                                        <nav
                                                            class="navbar
                                                            navbar-expand-lg">
                                                            <a
                                                                class="navbar-brand"
                                                                href="#">
                                                                <img
                                                                    src="/../img/logo.png"
                                                                    width="180"
                                                                    height="55">
                                                            </a>
                                                            <button
                                                                class="navbar-toggler"
                                                                type="button"
                                                                data-toggle="collapse"
                                                                data-target="#navbarNav"
                                                                aria-controls="navbarNav"
                                                                aria-expanded="false"
                                                                aria-label="Toggle
                                                                navigation">
                                                                <span
                                                                    class="navbar-toggler-icon"></span>
                                                            </button>
                                                            <div
                                                                class="collapse
                                                                navbar-collapse"
                                                                id="navbarNav">
                                                                <ul
                                                                    class="navbar-nav">
                                                                    <li
                                                                        class="nav-item
                                                                        active">
                                                                        <a
                                                                            class="nav-link"
                                                                            href="/member/index">Home</a>
                                                                    </li>
                                                                    <li
                                                                        class="nav-item">
                                                                        <a
                                                                            class="nav-link"
                                                                            href="/member/index#services">Services</a>
                                                                    </li>
                                                                    <li
                                                                        class="nav-item">
                                                                        <a
                                                                            class="nav-link"
                                                                            href="/class/classes">Classes</a>
                                                                    </li>
                                                                    <li
                                                                        class="nav-item">
                                                                        <a
                                                                            class="nav-link"
                                                                            href="/member/index#pricing">Pricing</a>
                                                                    </li>
                                                                    <%if
                                                                        (currentMember)
                                                                        {
                                                                        %>
                                                                        <li
                                                                            class="nav-item
                                                                            dropdown">
                                                                            <a
                                                                                class="nav-link
                                                                                dropdown-toggle"
                                                                                href="#"
                                                                                id="navbarDropdown"
                                                                                role="button"
                                                                                data-toggle="dropdown"
                                                                                aria-haspopup="true"
                                                                                aria-expanded="false">
                                                                                <img
                                                                                    src="<%=currentMember.img%>"
                                                                                class="rounded-circle"
                                                                                height="30"
                                                                                alt=""
                                                                                loading="lazy"
                                                                                style="padding-right:
                                                                                4px;"
                                                                                />
                                                                                <%=currentMember.name%>
                                                                                </a>
                                                                                <div
                                                                                    class="dropdown-menu"
                                                                                    aria-labelledby="navbarDropdown">
                                                                                    <a
                                                                                        class="dropdown-item"
                                                                                        href="/member/profile">My
                                                                                        Profile</a>
                                                                                    <a
                                                                                        class="dropdown-item"
                                                                                        href="/member/classes">My
                                                                                        Schedule</a>
                                                                                    <a
                                                                                        class="dropdown-item"
                                                                                        href="/member/logout">Logout</a>
                                                                                </li>
                                                                                <%
                                                                                    }
                                                                                    %>
                                                                                    <%if
                                                                                        (!currentMember)
                                                                                        {
                                                                                        %>
                                                                                        <li
                                                                                            class="nav-item">
                                                                                            <a
                                                                                                id="memberBtn"
                                                                                                class="nav-link"
                                                                                                href="/member">Become
                                                                                                A
                                                                                                Member!
                                                                                            </a>
                                                                                        </li>
                                                                                        <%
                                                                                            }
                                                                                            %>
                                                                                        </ul>
                                                                                    </div>
                                                                                </nav>
                                                                                <%-
                                                                                    body
                                                                                    %>
                                                                                    <div
                                                                                        class="footer">
                                                                                        <p>Copyright
                                                                                            &copy;
                                                                                            2021
                                                                                            callback
                                                                                            team.
                                                                                            All
                                                                                            Rights
                                                                                            Reserved
                                                                                        </p>
                                                                                    </div>
                                                                                    <script
                                                                                        src="/../js/main.js"></script>
                                                                                    <script
                                                                                        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
                                                                                    <script
                                                                                        src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
                                                                                    <script
                                                                                        src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
                                                                                    <script>
                                let toastSuccess="<%=successArray%>"
                                let toastError="<%=errorArray%>"
                                
                                $(document).ready(function(){
                                    if(toastError!="")
                                        toastr.error(toastError)

                                    if(toastSuccess!="")
                                        toastr.success(toastSuccess)


                                })
                                </script>
                                                                                </body>
                                                                            </html>
