<head>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link
        href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <script defer
        src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer
        src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer
        src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/../../js/fileUpload.js"></script>
    <style>
    .avatar{
     width: 360px;
     height: 150px;
	 margin: 0 auto;
	
  }
   /* * FilePond Custom Styles */
   .filepond--drop-label {
     color: #0a132b;
  }
   .filepond--label-action {
     text-decoration-color: #babdc0;
  }
   .filepond--panel-root {
     background-color: #edf0f4;
  }
  /** * Page Styles */
  
   .filepond--root {
     width: 360px;
     height: 150px;
    
  }
#fileChooser {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  display:none
}
#classImg {
  width: 100%;
  text-align: center;
  margin-top: 20px;

}
ion-icon {
  font-size: 40px;
  color:#fe7f2d;
  position: absolute;
  top: 370px;
  left:350px;
  --ionicon-stroke-width: 45px;
}
    </style>
</head>
<div class="container" style="background-color: unset;box-shadow: unset;">
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1>Update Member</h1>
            <form method="post" action="/admin/updateByClassId/<%=result._id%>">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="category_name">Type: </label>
                            <input type="text" id="category_name"
                                class="form-control" name="type"
                                value="<%=result.type%>">
                        </div>
                        <div class="form-group">
                            <label for="category_name">Description: </label>
                            <input type="text" id="category_name"
                                class="form-control" name="description"
                                value="<%=result.description%>">
                        </div>
                        <div class="form-group">
                            <label for="category_name">Image: </label>
                        </div>
                        <div id="classImg"> <img class="avatar" width="100"
                                height="100"
                                src="<%=result.classImagePath%>"
                            alt=""></div>


                        <div id="fileChooser"> <input type="file" id="filepond1"
                                class="filepond" name="classImage"> </div>
                        <ion-icon name="create-outline" onclick="myFunction()"></ion-icon>
                        <div class="form-group">
                            <label for="category_name">Start Date: </label>
                            <input type="datetime-local" id="category_name"
                                class="form-control" name="startDate"
                                value="<%=
                                moment(result.startDate).
                                format('YYYY-MM-DDTHH:mm').trim()%>">
                        </div>
                        <div class="form-group">
                            <label for="product_name">End Date: </label>
                            <input type="datetime-local" id="product_name"
                                class="form-control" name="endDate" value="<%=
                                moment(result.endDate).
                                format('YYYY-MM-DDTHH:mm').trim()%>">

                        </div>
                        <button type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function myFunction() {
  var x = document.getElementById("fileChooser");
   var x1 = document.getElementById("classImg");
  if (x.style.display === "none") {
    x.style.display = "block";
    x1.style.display = "none";
    
  } else {
    x.style.display = "none";
    x1.style.display = "block";
  }
}
</script>